<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="getCurrentLang()=='de'">Karten</ion-title>
    <ion-title *ngIf="getCurrentLang()=='en'">Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="getCurrentLang()=='de'" >

  <h5 class="ion-padding-top ion-padding-start">Meine Karten</h5>
  <ion-card><div *ngFor="let p of menuData; let i=index;">
    <ion-item *ngIf="isElActive(p.id)"  [routerDirection]="'root'" [routerLink]="[p.url]" class="menu-list-item">
      <ion-icon name="checkmark" class="ion-padding-end" color="primary"></ion-icon>
      <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
      <ion-label>
        <div class="item"><b>{{p.name}}</b> </div>
      </ion-label>
    </ion-item></div>
  </ion-card> 

  <h5 class="ion-padding-top ion-padding-start">Offline Karten</h5>
  <ion-card>
    <div *ngFor="let p of menuData; let i=index;">
    <ion-item *ngIf="!isElActive(p.id)"  [routerDirection]="'root'" [routerLink]="[p.url]" class="menu-list-item">
      <ion-icon name="checkmark" class="ion-padding-end" color="light"></ion-icon>
      <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
      <ion-label>
        <div class="item"><b>{{p.name}}</b> </div>
      </ion-label>
    </ion-item></div>
  </ion-card>



</ion-content>

<ion-content *ngIf="getCurrentLang()=='en'">
  <h5 class="ion-padding-top ion-padding-start">My Cards</h5>
  <ion-card><div *ngFor="let p of menuData; let i=index;">
    <ion-item *ngIf="isElActive(p.id)"  [routerDirection]="'root'" [routerLink]="[p.url]" class="menu-list-item">
      <ion-icon name="checkmark" class="ion-padding-end" color="primary"></ion-icon>
      <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
      <ion-label>
        <div class="item"><b>{{p.name}}</b> </div>
      </ion-label>
    </ion-item></div>
  </ion-card> 

  <h5 class="ion-padding-top ion-padding-start">Offline Cards</h5>
  <ion-card>
    <div *ngFor="let p of menuData; let i=index;">
    <ion-item *ngIf="!isElActive(p.id)"  [routerDirection]="'root'" [routerLink]="[p.url]" class="menu-list-item">
      <ion-icon name="checkmark" class="ion-padding-end" color="light"></ion-icon>
      <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
      <ion-label>
        <div class="item"><b>{{p.name}}</b> </div>
      </ion-label>
    </ion-item></div>
  </ion-card>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerDirection]="'root'" [routerLink]="['/home']" routerLinkActive="active">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>

      <ion-button [routerDirection]="'root'" [routerLink]="['/cards']" routerLinkActive="active">
        <ion-icon slot="icon-only" name="logo-buffer" ></ion-icon>
      </ion-button>
      <ion-button [routerDirection]="'root'" [routerLink]="['/barcode']" routerLinkActive="active">
        <ion-icon slot="icon-only" name="barcode" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>