<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="getCurrentLang()=='de'">Beschwerdemanagement</ion-title>
    <ion-title *ngIf="getCurrentLang()=='en'">Beschwerdemanagement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row *ngIf="textDefault=='notset'" class="ion-padding-vertical" id="notActive"
  class="ion-text-center ion-align-items-end ion-justify-content-center ion-padding">
  <div class="content">
    <h2>{{ 'needto_activate' | translate }}</h2>
    <ion-button color="primary" [routerDirection]="'root'" [routerLink]="['/barcode']">
      <ion-icon name="barcode" style="display: inline-block; margin-right: 0.5em;"></ion-icon>
      {{ 'menu.activate_pages' | translate }}
    </ion-button>
  </div>
</ion-row>
<ion-content *ngIf="getCurrentLang()=='de'" [ngClass]="{'offline' :textDefault=='notset'}">

  <img src="/assets/img/karte-beschwerdemanagement.png" />
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>Ziel</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Was kann ich mit diesem Modell erreichen?
        <br />
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Sie wissen Beschwerden einzuordnen und angemessen darauf zu reagieren – und Sie steuern auch bezüglich
        verschwiegener, aber doch vorhandener Kritik gegen.</p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>PROBLEM</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Was ist die Ausgangslage?
        <br />
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>Beschwerden sind anstrengend: Der Anbieter wird mit Kritik konfrontiert. Sowohl Abwehrhaltung als auch
        Unterwürfigkeit sind fatale Reaktionsmuster. Aber was soll der Kritisierte tun? Zumal Berichte über schlechte
        Erfahrungen größere Auswirkungen auf künftigen Umsatz haben als Empfehlungen, selbst wenn der Anbieter nie von
        der konkreten Unzufriedenheit eines Kunden erfährt.</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>LÖSUNGSANSATZ</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Wie komme ich von der Ausgangslage zum Ziel?
        <br />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p> Um die Extreme von arrogantem Zurückweisen und übertriebener Demut zu vermeiden, hilft die Unter-scheidung von
        Beschwerdeäußerung und Beschwerdegrund. Beide können vorliegen oder fehlen. So ergibt sich eine Tabelle mit vier
        exemplarischen Fällen und Folgen.
      </p>
      <p> Die linke Spalte der Grafik zeigt Situationen, in denen sich der Kunde äußert. Das ist immer gut, denn es
        eröffnet die Chance, zu reagieren. Ist die Beschwerde berechtigt, beinhaltet die optimale Reaktion Verständnis
        für den Ärger, Dank für die Rückmeldung und Ausgleich für den Nachteil.
      </p>
      <p> Fehlt aus Anbietersicht der Grund für die geäußerte Kritik, sollte der Anbieter dennoch verstehen wollen,
        warum der Kunde das anders sieht. Ehrlich interessierte Fragen helfen genauer zu verstehen, welche Erwartungen
        Kunden haben. Und vielleicht sind die Fragen ein erster Schritt zum Ziel, den Kritiker über
        die Anbietersicht aufzuklären.
      </p>
      <p> Die größte Gefahr und das größte Potential finden sich in der rechten Spalte: Kunden, die sich nicht äußern.
        Schwierigkeiten drohen von unerreichten Unzufriedenen. Denn auch wenn sie dem Anbieter gegenüber schweigen:
        anderen gegenüber werden sie mit großer Wahrscheinlichkeit von der Enttäuschung berichten. Das schadet dem Ruf
        des Anbieters und gefährdet dessen Umsatz nachhaltig. Also muss das Ziel sein, Rückmeldungen so einfach, so
        lohnend und damit so wahrscheinlich wie möglich zu machen. Zum Beispiel durch Nachfragen. Das gilt auch für
        zufriedene Kunden. Diese sind potenzielles Wachstum. Dieses Potenzial hebt, wer aus Zufriedenheit und Lob
        Empfehlungen generiert.
      </p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>
        LITERATUR
        <br />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p><b> Christian Homburg, Heiko Schäfer, Janna Schneider: </b><br>Sales Excellence: Vertriebsmanagement mit
        System</p>
      <p><b> Wolfgang Seidel, Bernd Stauss:</b><br> Beschwerdemanagement. Unzufriedene Kunden als profitable Zielgruppe
      </p>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>QUERVERWEISE</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Wo finde ich mehr zur Herleitung? Wie kann es weiter gehen?
        <br />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item [routerDirection]="'root'" [routerLink]="['/karte-senderuempfaenger']">
        <ion-icon name="ios-arrow-forward" slot="end" color="light"></ion-icon>
        <ion-label>
          <div class="item"> Sender & Empfänger</div>
        </ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="['/karte-empfehlungsdreieck']">
        <ion-icon name="ios-arrow-forward" slot="end" color="light"></ion-icon>
        <ion-label>
          <div class="item"> Empfehlungsdreieck</div>
        </ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="['/karte-merkmalvorteilnutzen']">
        <ion-icon name="ios-arrow-forward" slot="end" color="light"></ion-icon>
        <ion-label>
          <div class="item"> Merkmal – Vorteil – Nutzen</div>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>



</ion-content>
<ion-content *ngIf="getCurrentLang()=='en'" [ngClass]="{'offline' :textDefault=='notset'}">
  <img src="/assets/img/karte-beschwerdemanagement.png" />
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>Ziel</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Was kann ich mit diesem Modell erreichen?
        <br />
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Sie wissen Beschwerden einzuordnen und angemessen darauf zu reagieren – und Sie steuern auch bezüglich
        verschwiegener, aber doch vorhandener Kritik gegen.</p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>PROBLEM</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Was ist die Ausgangslage?
        <br />
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>Beschwerden sind anstrengend: Der Anbieter wird mit Kritik konfrontiert. Sowohl Abwehrhaltung als auch
        Unterwürfigkeit sind fatale Reaktionsmuster. Aber was soll der Kritisierte tun? Zumal Berichte über schlechte
        Erfahrungen größere Auswirkungen auf künftigen Umsatz haben als Empfehlungen, selbst wenn der Anbieter nie von
        der konkreten Unzufriedenheit eines Kunden erfährt.</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>LÖSUNGSANSATZ</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Wie komme ich von der Ausgangslage zum Ziel?
        <br />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p> Um die Extreme von arrogantem Zurückweisen und übertriebener Demut zu vermeiden, hilft die Unterscheidung von
        Beschwerdeäußerung und Beschwerdegrund. Beide können vorliegen oder fehlen. So ergibt sich eine Tabelle mit vier
        exemplarischen Fällen und Folgen.
      </p>
      <p> Die linke Spalte der Grafik zeigt Situationen, in denen sich der Kunde äußert. Das ist immer gut, denn es
        eröffnet die Chance, zu reagieren. Ist die Beschwerde berechtigt, beinhaltet die optimale Reaktion Ver-ständnis
        für den Ärger, Dank für die Rückmeldung und Ausgleich für den Nachteil.
      </p>
      <p> Fehlt aus Anbietersicht der Grund für die geäußerte Kritik, sollte der Anbieter dennoch verstehen wollen,
        warum der Kunde das anders sieht. Ehrlich interessierte Fragen helfen genauer zu verstehen, welche Erwartungen
        Kunden haben. Und vielleicht sind die Fragen ein erster Schritt zum Ziel, den Kritiker über
        die Anbietersicht aufzuklären.
      </p>
      <p> Die größte Gefahr und das größte Potential finden sich in der rechten Spalte: Kunden, die sich nicht äußern.
        Schwierigkeiten drohen von unerreichten Unzufriedenen. Denn auch wenn sie dem Anbieter gegenüber schweigen:
        anderen gegenüber werden sie mit großer Wahrscheinlichkeit von der Enttäuschung berichten. Das schadet dem Ruf
        des Anbieters und gefährdet dessen Umsatz nachhaltig. Also muss das Ziel sein, Rückmeldungen so einfach, so
        lohnend und damit so wahrscheinlich wie möglich zu machen. Zum Beispiel durch Nachfragen. Das gilt auch für
        zufriedene Kunden. Diese sind potenzielles Wachstum. Dieses Potenzial hebt, wer aus Zufriedenheit und Lob
        Empfehlungen generiert.
      </p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>
        LITERATUR
        <br />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p><b> Christian Homburg, Heiko Schäfer, Janna Schneider: </b><br>Sales Excellence: Vertriebsmanagement mit
        System</p>
      <p><b> Wolfgang Seidel, Bernd Stauss:</b><br> Beschwerdemanagement. Unzufriedene Kunden als profitable Zielgruppe
      </p>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>QUERVERWEISE</b>
        <br />
      </ion-card-subtitle>
      <ion-card-title>
        Wo finde ich mehr zur Herleitung? Wie kann es weiter gehen?
        <br />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item [routerDirection]="'root'" [routerLink]="['/karte-senderuempfaenger']">
        <ion-icon name="ios-arrow-forward" slot="end" color="light"></ion-icon>
        <ion-label>
          <div class="item"> Sender & Empfänger</div>
        </ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="['/karte-empfehlungsdreieck']">
        <ion-icon name="ios-arrow-forward" slot="end" color="light"></ion-icon>
        <ion-label>
          <div class="item"> Empfehlungsdreieck</div>
        </ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="['/karte-merkmalvorteilnutzen']">
        <ion-icon name="ios-arrow-forward" slot="end" color="light"></ion-icon>
        <ion-label>
          <div class="item"> Merkmal – Vorteil – Nutzen</div>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>

      <ion-button [routerDirection]="'root'" [routerLink]="['/home']" routerLinkActive="active">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>

      <ion-button [routerDirection]="'root'" [routerLink]="['/cards']" routerLinkActive="active">
        <ion-icon slot="icon-only" name="logo-buffer"></ion-icon>
      </ion-button>
      <ion-button [routerDirection]="'root'" [routerLink]="['/barcode']" routerLinkActive="active">
        <ion-icon slot="icon-only" name="barcode"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>