#vid {height: 300px; overflow: hidden; position: relative; z-index: 0;margin-top:-60px}
#vid .overlay{
  background-color: #79899b;
  opacity: 0.75;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

#vid .text {display: flex;
align-items: center;

color: #fff !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1; 

  h1{font-size:20px}
 p{    font-size: 0.85em;}
}


.bg-vid {
  position: relative;

  min-width: 100%;
height: 310px;
 
    z-index: 0;

  background-size: cover;
  
}
ion-content {display:flex;  flex-flow: column nowrap;}
#hompage-slider{ position: relative; z-index: 2;}
ion-toolbar * {background:transparent !important}
ion-slides {background:#fff; margin:2em; margin-top: -2em;padding:0}
#button {    margin-top: auto !important;
    margin: 2em;}

   ion-header{ position: absolute;}